.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/SwiftUIRouterExample/dependencies/Routes/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/SwiftUIRouterExample/dependencies/Detail/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/SwiftUIRouterExample/dependencies/Sidebar/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/SwiftUIRouterExample/dependencies/Content/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/SwiftUIRouterExample/dependencies/Root/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Examples/Example_01/Example_01.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
Examples/SwiftUIRouterExample/dependencies/Routes/.swiftpm/configuration/registries.json
Examples/SwiftUIRouterExample/dependencies/Detail/.swiftpm/configuration/registries.json
Examples/SwiftUIRouterExample/dependencies/Sidebar/.swiftpm/configuration/registries.json
Examples/SwiftUIRouterExample/dependencies/Content/.swiftpm/configuration/registries.json
Examples/SwiftUIRouterExample/dependencies/Root/.swiftpm/configuration/registries.json
Examples/Example_01/dependencies/Root/.swiftpm/configuration/registries.json
.netrc
.swiftclpm
